*{
    margin:4;
    padding:4;
    box-sizing:border-box
}




body{
    background-color: blanchedalmond;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
    padding: 10px;
}
h1 {
    font-size: 30px;
    color: crimson;
}
#your name"
{
    color: crimson;
    border-radius: 5px;
    
}